<!DOCTYPE HTML>
<html>
   <head>
      <title>Boggle</title>
      <link rel="stylesheet" href="/s/boggle.css" />
   </head>
   <body>
      {{ template "content" . }}
   </body>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
   <script src="/s/BogglePage.js"></script>
   {{ template "epilogue" . }}
</html>
